/* source-code-pro-regular - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-code-pro-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('../fonts/source-code-pro-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/source-code-pro-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/source-code-pro-v7-latin-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
/* source-code-pro-600 - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-code-pro-v7-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'),
    url('../fonts/source-code-pro-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/source-code-pro-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/source-code-pro-v7-latin-600.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}
/* source-code-pro-900 - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/source-code-pro-v7-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro Black'), local('SourceCodePro-Black'),
    url('../fonts/source-code-pro-v7-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/source-code-pro-v7-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/source-code-pro-v7-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/source-code-pro-v7-latin-900.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 ,h3 {
    font-family: "Source Code Pro";
}

h1, h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

h2:first-letter, h1:first-letter {
    background-color: #2c3e50;
    color: #fff;
    font-size: 3.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

a {
    color: #4DADF7;
    transition: color .25s ease-in;
}

a:hover {
  color: #2c3e50;
}

.footer-links {
    position: relative;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-links a {
    padding: .85rem .45rem;
}

.footer-links::before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% - 1.5rem);
    height: 1px;
    background-color: #2c3e50;
}

.flex-row {
    display: flex;
}

.flex-row-justify {
    justify-content: center;
    align-items: center;
}

.about-me-section, .technologies-section {
    padding: 1.5rem;
}