body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

h1, h2 ,h3 {
    font-family: "Pixelify Sans";
}

h1, h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

h2:first-letter, h1:first-letter {
    background-color: #2c3e50;
    color: #fff;
    font-size: 3.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

a {
    color: #01FFF7;
    transition: color .25s ease-in;
    filter: brightness(80%);
}

a:hover {
  color: #FE27FF;
}

.flex-row, .flex-container {
    display: flex;
}

.flex-row-justify {
    justify-content: center;
    align-items: center;
}

.two-x-tow-item {
    width: 33%;
}

.about-me-section, .technologies-section, .cv-section {
    padding: 1.5rem;
}

body {
    overflow-x: hidden;
}
